.header {
  text-align: center;
  font-size: 20px;
  padding: 50vh 0 0 0;
  box-sizing: border-box;
  height: 100vh;

}
.scroll {
  height: 100vh;
}

.tileWrapper{
  top: 50px;
  left: 50px;
}

.wrapper {
  height: 1500px;
  background: #CAE7DF;
  position: relative;
}

.fillerText {
  position:absolute;
  left:50%;
  top:10%;
  z-index: 1;
}

